language: generic
before_script:
  - curl -sL scripts.piet.me/ci/setup-git | bash
script:
  - ./test
after_script:
  - curl -sL scripts.piet.me/ci/release | bash
deploy:
  provider: releases
  api_key: "$GITHUB_TOKEN"
  on:
    tags: true
env:
  global:
    secure: tDegPNLpiyCQrFzV1OO2f93mmHW9ncMUP5ANCe6uHY0/DbnFxi6FSmc0rRHVsXRREjA2FsYLZF2Evz80pcuE8P9Tovn8IPx2VpBmSGW5R8S2wkkHuY8CbGF+6Tt353iR7+bM2FcwFkS1PCBNtfzA9Nz6+QWI2I2fdOM3FDMg07wBZKHNqRUPm0XdIcvaEy+1Df8aS1SjSsQdwJsN7lN7vs7WI2y6jgbOaJ5ZMtgd0f2+rH1a8UKoEhO1G6VsgVuwCvY1QwAJJjYb1cMPgqoFms+B7IDOryM+/Kpshwc4BTworVZoUSHJpnnRNDUFeDHaBu5NS1ECWOBGIjDpKo53OEChZy5Twr6nnOAZ9L62/QKgw2wPBzy1WCVqjn9hThRwh5LK/SWnZTXgrSw2Kfih39/To/W+eGEgSgytztXue4DdyhXQ2ecECWzElSl8FxMWhH/TIpLgBGJfLw/m/sA8ddBgSsjLHSYHxojhGl/aFgRos2xaHtlK8eV91bi3hC5+Hn8FOIJLbKW/C8tKZAXGs1tCbh7aXWuSll4Pj9HUKxPL/FKcr4Zum+Sy//OIv7LouZSrvR4UCcqfMbaqTp85a5mvbwFeU2k9S50oa+V/K/AC1tAjUGmxdmRJfstn/KI5/hdMQB0CPIn7gucpXUAKtJ+SrGM3MOSN8OZjCrySTxs=
